# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
VENV/
.venv/
build/
dist/
*.egg-info/
.eggs/

# Environment variables
.env
.env.*

# FastAPI/Starlette
instance/
*.db

# VSCode
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Logs
*.log

# Coverage
htmlcov/
.coverage
.coverage.*
.cache

# mypy
.mypy_cache/
.dmypy.json

# pytest
.pytest_cache/

# celery
celerybeat-schedule
celerybeat.pid

# pipenv
Pipfile.lock

# Jupyter Notebook
.ipynb_checkpoints

# Telegram bot specific (if any session or cache files)
*.session
*.session-journal

# Other
*.sqlite3 

poetry-cheatsheet.md 

# Poetry
poetry.lock
__pypackages__/

# Trash Temp Files 
tt.*

.github/    